.header {
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navItems {
  color: #1d1b19;
  margin-right: 40px;
  opacity: 0.5;
  cursor: pointer;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

.activeNavItem {
  opacity: 1;
  font-weight: 500;
  border-bottom: 2px solid #fa6e02;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 40px;
  }
}
